<div class="dragDrop" id="dragdrop">
</div>
<p class="chatName" id="chatName">Chat</p>
<form><input type="button" value=">>" class="collapse" id="collapse">
    <p>
        <textarea id="messageHistory" rows="8" cols="30" name="text" disabled=""></textarea>
    </p>
    <textarea id="userName" rows="1" cols="10" name="text"></textarea>
    <span class="nameNote">User Name</span>
    <p></p>
    <textarea id="messageArea" rows="3" cols="30" name="text"></textarea>
    <br>
    <input type="button" id="sendMessageButton" value="Send Message">
</form>